<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705415324125-9uvlqn6q8kajvn3ki4psl0elji9t525e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705415324125-9uvlqn6q8kajvn3ki4psl0elji9t525e</string>
	<key>API_KEY</key>
	<string>AIzaSyD3LCyAKVYPmV0v0pSFaoCfs4890VN6DYY</string>
	<key>GCM_SENDER_ID</key>
	<string>705415324125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.me.fa.faxinapp</string>
	<key>PROJECT_ID</key>
	<string>faxinapp-server</string>
	<key>STORAGE_BUCKET</key>
	<string>faxinapp-server.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705415324125:ios:eb97bfbc65cd6fff</string>
	<key>DATABASE_URL</key>
	<string>https://faxinapp-server.firebaseio.com</string>
</dict>
</plist>